.wrapper {
  padding: 20px;
  background: #f4f5f9;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw; 
  overflow-x: hidden; 
}

@media (max-width:500px) {
  .wrapper{
    padding-left: 50px;
  }
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.head p {
  font-size: 32px;
  font-weight: 590;
  color: #08254A;
}

.searchBar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.icon img {
  width: 18px;
  height: 18px;
}

.inputBar input {
  border: none;
  outline: none;
  margin-left: 8px;
  font-size: 14px;
}

.tableContainer {
  background: white;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  max-width: 100%;
  max-height: 500px; /* Add this for vertical scroll */
}




.table {
  width: 100%;
  min-width: 600px; /* Adjust based on your content needs */
  border-collapse: collapse;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}


.table thead {
  
  background: white;
  z-index: 0;
  min-width: 100px; /* Adjust per column needs */

}

.table th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  min-width: 100px; /* Adjust per column needs */
  white-space: nowrap; /* Prevents text wrapping if desired */
}

.table td {
  padding: 12px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
}

.table tbody tr:nth-child(odd) {
  background: #E2E2E2;
}

.table ul {
  margin: 0;
  padding-left: 18px;
}

.table li {
  margin-bottom: 4px;
}

