.wrapper {
  padding: 20px;
  background: #f4f5f9;
  min-height: 100vh;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.head p {
  font-size: 32px;
  font-weight: 590;
  color: #08254A;
}

.searchBar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.icon img {
  width: 18px;
  height: 18px;
}

.inputBar input {
  border: none;
  outline: none;
  margin-left: 8px;
  font-size: 14px;
}

.status{
    margin: 0;
    width: 80px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 3px;
}
.stat{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuBar{
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    font-size: 12px;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    top: -20px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    min-width: 450px;
}
.menuButton{
    cursor: pointer;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuIcon{
    height: 31px;
    position: relative;
    top:7px;
}
.contentBody{
    background-color: white;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:left;
    border-radius: 8px;
    width: 47vw;
}
.line{
    width: 100%;
    height: 1px;;
    background-color: #C6C6C8;

}

.gridSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 40px;
  margin-bottom: 30px;
  padding: 15px;
}

.gridSection div {
  display: flex;
  flex-direction: column;
}

.gridSection strong {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
}

.gridSection p {
  font-size: 15px;
  color: #000;
  margin: 0;
  font-weight: 500;
}

.contentMain{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}
.headline{
    font-weight: 590;
    font-size: 18px;
    color: #000000;
    padding-left: 20px;
    margin-bottom: -20px;
}
.labelName{
    font-weight: 400;
    font-size: 12px;
}
@media (max-width: 768px) {
  .gridSection {
    grid-template-columns: 1fr 1fr; /* switch to 1 column */
  }
}
.summary{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.headlin{
    font-family:sans-serif;
    font-weight: 700;
}
.summary div p{
    font-weight: 600;
    font-family: sans-serif;
}
.contentBodyd{
  margin-top: 30px;
  background-color: white;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:left;
    border-radius: 8px;
    width: 100%;
}