@keyframes anim {
    0%{
        transform: scale(1);
        
    }
    50%{
        transform: scale(1.2);
        
    }
    100%{
        transform: scale(1);
    }

}
@keyframes rot {
    0%{
        transform: rotate(0deg);
        
    }
    50%{
        transform: rotate(180deg);
        
    }
    100%{
        transform: rotate(360deg);
    }

}
.icon{
    animation: rot 2s ease-out infinite;
}
.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.text{
    font-weight: 600;
    padding-left: 20px;
    font-size: 22px;
    color: #08254A;
}