.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottomBody{
    display: flex;
    flex-direction: column;
}
.subBody{
    display: flex;
    justify-content: left;
    z-index: 5;
    width: 100%;
    
}
.pages{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.sub{
    display: flex;
    flex: row;
    justify-content: space-around;
    width: 100%;
}
.maini{
    display: flex;
    flex-direction: column;
    justify-content: center;
}